# Python-related
**pycache**
__pycache__/
*.py[cod]
*$py.class
**egg-info/
.ruff_cache/

# Virtual environments and environment files
.env
.venv/
env/
venv/
ENV/

# Build and distribution
build/
dist/
MANIFEST

# Development tools
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Documentation
/site

# Package managers
uv.lock
.pdm.toml
.pdm-python
.pdm-build/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Project-specific directories
artifacts/
images/
input/
inputs/
output/
outputs/

# Generated and temporary files
*.txt
test.py
test_*.py
run.py
run_*.py
